// Place all the styles related to the api/businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// busines_index
.biz-column-alpha {
  width: 661px;
  padding: 0 15px;
}

.regular-search-result {
  border-top-color: rgb(230, 230, 230);
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: rgb(230, 230, 230);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: 660px;
  padding: 17px 0;
}

.search-result-image {
  height: 90px;
  width: 90px;
  border: 1px red solid;
  margin-right: 10px;
}

.biz-listing {
  width: 660px;
  height: 91px;
  display: block;
  font-family: "Helvetica Neue";
  display: flex;
  justify-content: space-between;
}

.biz-listing div {

}

.biz-listing span {
  display: block;
}

.main-attributes {
  width: 412.5px;
  display: flex;
}

.secondary-attributes {
  width: 247.5px;
}

.biz-column-bravo {
  width: 661px;
  padding: 0 15px;
}


// business_show

// .top-shelf {
//   background-color: rgb(245, 245, 245);
//   width: 100%;
//   height: 482px;
// }

.biz-page-header {
  font-family: "Helvetica Neue";
  display: flex;
  align-items: center;
}

.biz-page-header-left {
  // display: flex;
  // justify-content: space-between;
  width: 490px;
  height: 112px;
}

.biz-page-header-left h1 {
  font-size: 36px;
  font-weight: 700;
  display: block;
}

.mapbox-container {
  height: 345px;
  width: 288px;
  border: 1px solid rgb(204, 204, 204);
  padding: 5px;
}

.map-img-placeholder {
  width: 286px;
  height: 135px;
  background-color: #70db70;
}

.write-review-button {
  color: white;
  font-size: 14px;
  font-weight: 700;
  background-color: #d90007;
  background: linear-gradient(#d90007, #c91400);
  text-decoration: none;
  border-color: #8d0005;
  border-radius: 3px;
  padding: 10px 19px 10px 19px;
  align-items: center;
  // position: absolute;
  height: 36px;
  width: 176px;
}

.write-review-button:hover {
  background-color: #ed0008;
  background: linear-gradient(#ed0008, #dd1600);
}

.fa-star {
  font-size: 20px;
  padding-right: 5px;
  // position: absolute;
  margin-right: 2px;
}
