// Place all the styles related to the api/businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.regular-search-result {
  border-top-color: rgb(230, 230, 230);
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: rgb(230, 230, 230);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: 660px;
  padding: 17px 0;
}

.search-result-image {
  height: 90px;
  width: 90px;
  border: 1px red solid;
  margin-right: 10px;
}

.biz-listing {
  width: 660px;
  height: 91px;
  display: block;
  font-family: "Helvetica Neue";
  display: flex;
  justify-content: space-between;
}

.biz-listing div {

}

.biz-listing span {
  display: block;
}

.main-attributes {
  width: 412.5px;
  display: flex;
}

.secondary-attributes {
  width: 247.5px;
}
