// Place all the styles related to the api/businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-results {
  width: 200px;
  height: 100px;
}

.biz-index-cuisine {
  color: #0073bb;
  font-size: 14px;
}

.biz-index-cuisine:hover {
  text-decoration: underline;
  cursor: pointer;
}

.biz-third-row {
  display: flex;
}

.dot-span {
  margin: 0 7px;
}



// filters
.background-gray {
  background: #f5f5f5;
  height: 140px;
}

.price-form-container {
  background: #f5f5f5;
  height: 140px;
  // display: flex;
  padding: 0;
  position: relative;
}

.price-form-container h1 {
  font-size: 21px;
  font-family: "Helvetica Neue";
  font-weight: 700;
  position: absolute;
  top: 32px;
  color: rgb(51, 51, 51);
}

.price-form-container li {
  border: 1px solid #ccc;
  padding: 8px 11px;
  display: inline;
  background: white;
}

.price-form {
  display: flex;
  position: absolute;
  top: 72px;
}

.price-filter-checkbox {
  position: relative;
}

.price-filter-checkbox label {
  z-index: 1;
  position: absolute;
  top: 11px;
  left: 15px;
  font-family: "Helvetica Neue";
  color: rgb(51, 51, 51);
  font-size: 14px;
}

.price-filter-checkbox input[type=checkbox] {
  width: 36px;
  height: 36px;
  border: 0px;
  -webkit-appearance: none;
}

#price-filter-1 {
  border-radius: 4px 0 0 4px;
}

#price-filter-2 {
  width: 42px;
}

#price-filter-3 {
  width: 50px;
}

#price-filter-4 {
  border-radius: 0 4px 4px 0;
  border-right: 1px solid rgb(204, 204, 204);
  width: 58px;
}

.price-filter-checkbox {

  input[type=checkbox] {
    border: 1px solid rgb(204, 204, 204);
    border-right: 0px;
    background: white;
  }

  input[type=checkbox]:checked {
    background-color: #c4f3a4;
    border: 1px solid #41a700;
    border-right: 0px;
  }

  input[type=checkbox]:checked + label {
    color: #348c42;
  }
  // content: "$";
}

.price-filter-input {

  font-family: sans-serif;
  font-size: 14px;
}

#price-filter-4:checked {
  border-left: 1px solid #41a700;
  border-right: 1px solid #41a700;
}

.filter-button {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  background: white;
  padding: 8px 11px;
  height: 20px;
  font-size: 14px;
}

// busines_index
.biz-index-content-container {
  width: 990px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.biz-column-alpha {
  width: 661px;
  padding: 0 15px;
}

.biz-column-alpha ul {
  width: 661px;
}

.regular-search-result {
  border-top-color: rgb(230, 230, 230);
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: rgb(230, 230, 230);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: 660px;
  padding: 17px 0;
}

.search-result-image {
  height: 90px;
  width: 90px;
  border-radius: 4px;
  margin-right: 10px;
}

.search-result-image img {
  border-radius: 4px;
}

.biz-idx-link {
  text-decoration: none;
}

.biz-idx-link:hover {
  text-decoration: underline;
}

.biz-listing {
  width: 660px;
  height: 91px;
  display: block;
  font-family: "Helvetica Neue";
  display: flex;
  justify-content: space-between;
}

.biz-listing div {

}

.biz-listing span {
  display: block;
}

.main-attributes {
  width: 412.5px;
  display: flex;
}

.secondary-attributes {
  width: 247.5px;
  font-size: 14px;
}

.biz-column-bravo {
  width: 661px;
  padding: 0 15px;
  position: relative;
}

.image0 {
  width: 90px;
  height: 90px;
  // background-image: asset_path(business.photos[0].image);
}

div [class^="rating-img-"] {
  margin-top: 6px;
  margin-bottom: 6px;
}

.marker {
  font-family: "Helvetica Neue";
}

.marker-main-image {
  width: 60px;
  height: 60px;
  border-radius: 4px;
}

.rating-img-5 {
  width: 102px;
  height: 18px;
  background: asset-url('stars.png');
  background-position: 0px -402px;
  margin-right: 6px;
}

.rating-img-4 {
  width: 102px;
  height: 18px;
  background: asset-url('stars.png');
  background-position: 0px -366px;
  margin-right: 6px;
}

.rating-img-3 {
  width: 102px;
  height: 18px;
  background: asset-url('stars.png');
  background-position: 0px -330px;
  margin-right: 6px;
}

.rating-img-2 {
  width: 102px;
  height: 18px;
  background: asset-url('stars.png');
  background-position: 0px -294px;
  margin-right: 6px;
}

.rating-img-1 {
  width: 102px;
  height: 18px;
  background: asset-url('stars.png');
  background-position: 0px -258px;
  margin-right: 6px;
}

.rating-img-0 {
  width: 102px;
  height: 18px;
  background: asset-url('stars.png');
  background-position: 0px -240px;
  margin-right: 6px;
}

.dollas {
  font-size: 14px;
}

.neighborhood {
  margin-bottom: 8px;
}

div [class^="show-rating-img-"] {
  margin-top: 9px;
  margin-bottom: 9px;
}

.show-rating-img-5 {
  width: 132px;
  height: 24px;
  background: asset-url('stars.png');
  background-position: 0px -216px;
}

.show-rating-img-4 {
  width: 132px;
  height: 24px;
  background: asset-url('stars.png');
  background-position: 0px -168px;
}

.show-rating-img-3 {
  width: 132px;
  height: 24px;
  background: asset-url('stars.png');
  background-position: 0px -120px;
}

.show-rating-img-2 {
  width: 132px;
  height: 24px;
  background: asset-url('stars.png');
  background-position: 0px -72px;
}

.show-rating-img-1 {
  width: 132px;
  height: 24px;
  background: asset-url('stars.png');
  background-position: 0px -24px;
}

.show-rating-img-0 {
  width: 132px;
  height: 24px;
  background: asset-url('stars.png');
  background-position: 0px 0px;
}

// business_show

// .top-shelf {
//   background-color: rgb(245, 245, 245);
//   width: 100%;
//   height: 482px;
// }

.grayness {
  z-index: -1;
  position: absolute;
  top: 89px;
  width: calc(100vw);
  right: 0;
  bottom: 0;
  // left: -9999px;
  background: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
  height: 429px;
}

.biz-page-header {
  font-family: "Helvetica Neue";
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

.biz-page-header-left {
  // display: flex;
  // justify-content: space-between;
  width: 490px;
  height: 112px;
}

.biz-page-header-left h1 {
  font-size: 36px;
  font-weight: 700;
  display: block;
}

.biz-page-main {
  width: 960px;
  display: flex;
}

.mapbox-container {
  height: 345px;
  width: 288px;
  border: 1px solid rgb(204, 204, 204);
  padding: 5px;
  background: white;
}

.map-img-placeholder {
  width: 286px;
  height: 135px;
  border: 1px solid #ccc;
}

.map-img {
  width: 286px;
  height: 135px;
}

.mapbox ul {
  margin: 5px;
  font-family: "Helvetica Neue";
  font-size: 14px;
}

.mapbox li {
  display: flex;
}

.mapbox-info {
  margin-left: 16px;
}

.map-address {
  font-weight: 700;
}

.img-website {
  background: asset-url('website.png');
  height: 16px;
  width: 16px;
}

.photo-case {
  display: flex;
  vertical-align: middle;
  margin-top: 68.5px;
}

.biz-photo {
  width: 220px;
  height: 220px;
}

.biz-photo img {
  width: 220px;
  height: 220px;
}

.write-review-button {
  color: white;
  font-size: 14px;
  font-weight: 700;
  background-color: #d90007;
  background: linear-gradient(#d90007, #c91400);
  text-decoration: none;
  border-color: #8d0005;
  border-radius: 3px;
  padding: 10px 19px 10px 19px;
  align-items: center;
  // position: absolute;
  height: 36px;
  width: 176px;
}

.write-review-button:hover {
  background-color: #ed0008;
  background: linear-gradient(#ed0008, #dd1600);
}

.fa-star {
  font-size: 20px;
  padding-right: 5px;
  // position: absolute;
  margin-right: 2px;
}

.bottom-shelf {
  display: flex;
}

.review-feed {
  width: 629px;
  padding-right: 30px;
}

.additional-info {
  font-family: "Helvetica Neue";
  width: 300px;
  padding-right: 30px;
}

.today-info {
  background: #f5f5f5;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 3px 6px;
}

.fa-clock-o {
  color: #41a700;
  font-size: 24px;
  margin-right: 9px;
}

.today-info li {
  display: flex;
  padding: 9px 0 9px 9px;
}

.today-info li:first-of-type {
  border-bottom: 1px solid #e6e6e6;
}

.todays-dollas {
  margin-right: 11px;
}

.hours h5 {
  color: #d32323;
  font-size: 16px;
  font-weight: bold;
}

.hours li {
  display: flex;
}

.day {
  width: 58px;
  font-weight: bold;
}

#search-input {
  padding-top: 1px;
}
