// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-profile-top {
  display: flex;
}

.grayness-user-prof {
  z-index: -1;
  position: absolute;
  top: 89px;
  width: calc(100vw);
  right: 0;
  bottom: 0;
  // left: -9999px;
  background: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
  height: 233px;
}

.user-profile-image {
  width: 217px;
  height: 217px;
  border-radius: 4px;
}

.user-profile-bottom {
  display: flex;
}

.user-profile-nav {
  width: 217px;
  height: 540px;
  border: 1px solid black;
}

.user-profile-reviews {
  width: 465px;
  height: 540px;
  border: 1px solid black;
}

.user-profile-review {
  border: 1px solid black;
}

.user-profile-review-img {
  width: 60px;
  height: 60px;
}

.user-profile-review span {
  display: block;
}
